<section id="bg_section">
  <div id="content_section">
    <img id="bgimg" src="assets/event/puducherry.jpg" alt="">
    <!-- <a class="one" href="https://www.google.com/" target="_blank">
          <div class="pulsating-circle"></div>
        </a> -->
    <div class="one"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc854189e1c/709_61dc854189e1c_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="two"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc854d12cd5/709_61dc854d12cd5_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="three"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc856d74e48/709_61dc856d74e48_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="four"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc85953aa7a/709_61dc85953aa7a_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="five"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc85b1b91cd/709_61dc85b1b91cd_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="six"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc861ada4d5/709_61dc861ada4d5_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="seven"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc864e6e373/709_61dc864e6e373_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="eight"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc86760e553/709_61dc86760e553_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <!-- <div class="nine"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc85b1b91cd/709_61dc85b1b91cd_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="ten"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc861ada4d5/709_61dc861ada4d5_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="eleven"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc864e6e373/709_61dc864e6e373_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="twelve"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dc86760e553/709_61dc86760e553_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div> -->
  </div>
</section>

<div class="modal fade" id="playVideo2" tabindex="-1" role="dialog" aria-labelledby="playVideo2Title" aria-hidden="true"
  style="z-index: 9999;">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closeModalVideo()">&times;</div>
          <!-- <video id="video" preload="auto" [src]="videosource" width="100%" controls>
                    </video> -->
          <!-- <video id="video" preload="auto" [src]="videosource" width="100%" controls>
          </video> -->
          <div id="player_section">
            <div id="player-wrapper" class="player-container"></div>
          </div>
          <!-- <div id="player_container" style="position: relative; overflow: hidden; padding-top: 56.25%;">
                        <iframe [src]="https://multitvplayer.s3.amazonaws.com/belive_player/player.html?url=https://dzwvjnldrccox.cloudfront.net/709_614eb6f275d37/709_614eb6f275d37_master.m3u8" style="position:absolute;top:0;left:0;width:100%;height:100%;"  frameborder="0" allowfullscreen="true" >
                        </iframe></div> -->
        </div>
      </div>
    </div>
  </div>
</div>