<section id="bg_section">
    <div id="content_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="m-5 p-5">
                        <a class="btn btn-primary" routerLink="/auditorium/full/205095">Full Stage</a>&nbsp;
                        <a class="btn btn-primary" routerLink="/auditorium/stage/205068">custom Stage1</a> &nbsp;
                        <a class="btn btn-primary" routerLink="/auditorium/stage/205069">custom Stage2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>