#poll_question{
    font-size: 16px;
}

#thanksQuiz{
    margin: 4%;
    padding: 25px;
    border-radius: 30px; 
    font-size: 18px;
    text-align: center;  
}




.pollBars {
    width: 400px;
    background: #ccc;
}
 .pollBars label {
    display: block;

    padding: 3px;
    margin: 7px 0;

    font: bold 14px/1 sans-serif;

    -moz-border-radius: 4px;
    border-radius: 4px;

    text-shadow: 1px 1px 1px #444;
} 

.t1 {
    color: black;



    background: #f85032; /* old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #198754), color-stop(50%, #198754), color-stop(51%, #198754), color-stop(71%, #198754), color-stop(100%, #198754)); /* firefox */


    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* ie */
}

/* .t2 {
    color: #fff;

    border: 1px solid blue;

    background: #6db3f2;
    background: -moz-linear-gradient(top, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); 

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); 

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); 
} */












/* .barcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    align-items: end;
  }
  
  .barcontainerheader {
    display: inline;
    position: absolute;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background: green;
    border-bottom: 3px solid black;
    font-size: 1.5em;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0 black;
    z-index: 0;
  }
  
  .bar {
    position: relative;
    display: inline-block;
    bottom: 0;
    border: 1px solid black;
    border-radius: 6px 6px 0 0;
    background: green;
    width: 10%;
    margin-right:10px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 0 black;
    box-shadow: 4px 0 8px #888;
  }
  
  .barlabel {
    position: absolute;
    border-top: 2px solid black;
    background: #888;
    bottom: 0;
    width: 100%;
    text-shadow: 1px 1px 0px black;
    color: white;
    font-size: 8px;
  }
   */
 /*  .bar:nth-child(1) {
    left: 5%;
  }
  
  .bar:nth-child(2) {
    left: 5%;
  }
  
  .bar:nth-child(3) {
    left: 20%;
  }
  
  .bar:nth-child(4) {
    left: 35%;
  }
  
  .bar:nth-child(5) {
    left: 50%;
  }
  
  .bar:nth-child(6) {
    left: 65%;
  }
  
  .bar:nth-child(7) {
    left: 80%;
  } */



  .flex-container {
    display: flex;
    height: 400px;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 3rem;
  }
  
  .flex-container > div {
  
    margin: 10px;
    text-align: center;
    height: 100%;
    margin: 0;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    width: 49%;
    margin: auto;
  }
.percentage{
   
    background: linear-gradient(to top, #008000 0%, #ccffcc 100%);
    width: 75%;
    font-size: 10px;
    font-weight: bold;
}
.labelname{
    position: absolute;
    bottom: -50px;
    padding-top: 0;
    font-size: 9px;
    line-height: 1;
    font-weight: 500;
    height: 30px;
}