<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="assets/event/mainlobby.jpg" alt="">
        <div class="one" routerLink="/lobby2">
            <div class="pulsating-circle"></div>
        </div>
        <div class="two" routerLink="/lobby">
            <div class="pulsating-circle"></div>
        </div>
        <div class="three" routerLink="/lobby3">
            <div class="pulsating-circle"></div>
        </div>
    </div>
</section>