.one{
    position: absolute;
    top: 44%;
    left: 14%;
    cursor: pointer;
}
.two{
    position: absolute;
    top: 42%;
    left: 50%;
    cursor: pointer;
}
.three{
    position: absolute;
    top: 44%;
    right: 16.5%;
    cursor: pointer;

}