<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <img id="bgimg" src="assets/event/login.jpg" alt="">
        <div id="login_section">
        <img src="assets/event/azadi2.png" alt="" width="100%">
            <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">     
                <div class="form-group">
                    <label for="name">NAME</label>
                    <input type="text" class="form-control" required autocomplete="off" formControlName="name" placeholder=""> 
                    <div class="invalidError" *ngIf="(loginForm.get('name').invalid && loginFormDir.submitted) || (loginForm.get('name').dirty && loginForm.get('name').invalid)">
                        Name is Required*
                    </div>   
                </div>       
                <div class="form-group">
                    <label for="email">EMAIL</label>
                    <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder=""> 
                    <div class="invalidError" *ngIf="(loginForm.get('email').invalid && loginFormDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)" >
                        Email is Required*
                    </div>   
                </div>
                <div id="submitBtn">
                    <input name="login" id="loginbtn" class="btn" type="submit" value="LOGIN">
                <!-- <input name="login" id="loginbtn" class="btn" value="LOGIN" disabled style="cursor: crosshair;"> -->
                    
                </div>

               
            </form>
            <br>
            <!-- <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div> -->
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
      <source src="https://d3ep09c8x21fmh.cloudfront.net/azadi/hope.mp4" type="video/mp4">
    </video>
</div>
<!-- <div id="underprogress">
    <p>Something Awsome will be coming soon...</p>
</div> -->