#login_section{   
    position: absolute;
    top: 20%;
    width: 20%;
    transform: translate(10%, -30%);

}
input[type="text"], input[type="email"]{
    background-color: #fff;
    margin-top: 10px;
    // border-radius: 10px;
    border: 2px solid #44a6df;

    // box-shadow: 1px 1px 1px 1px;
}
#submitBtn{
    float: left;
    #loginbtn{
        margin: 12px 4px;
        background-color: #44a6df;
        color: white;
        border-radius: 24px;
        padding: 10px 40px;
    }
}
label{
    color: #44a6df;
    font-size: 20px;
}

@media only screen and (max-width: 950px) {
    #login_section{   
        position: absolute;
        top: 30%;
        width: 30%;
        transform: translate(10%, -30%);
    
    }
    .form-group {
        margin-bottom: 0.3rem;
    }
    input[type="text"], input[type="email"]{
        background-color: #fff;
        margin-top: 0px;
        // border-radius: 10px;
        border: 2px solid #44a6df;
    
        // box-shadow: 1px 1px 1px 1px;
    }
  }