.one{
    position: absolute;
    top: 25.7%;
    left: 30.5%;

    cursor: pointer;
}
.two{
    top: 25.7%;

    left: 68.5%;
    position: absolute;
    cursor: pointer;
  }
  
  .three{
    top: 46.7%;
    left: 31%;

    position: absolute;
    cursor: pointer;
  }
  
  .four{
    top: 46.7%;
    left: 69.2%;

    position: absolute;
    cursor: pointer;
  }
  


  #modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
  }

  #player_section{
    height: 50vh;
}