<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="assets/event/register2.jpg" alt="">
        <div id="login_section">
            <img src="assets/event/azadi2.png" alt="" width="100%" style="margin-top: 40px;">
            <form [formGroup]="signupForm" #signupFormDir="ngForm" (ngSubmit)="submitSignup(signupFormDir)">
                <div class="form-group m-2">
                    <label for="name">NAME</label>

                    <input type="text" class="form-control" required autocomplete="off" formControlName="name"
                        placeholder="">
                    <div class="invalidError"
                        *ngIf="(signupForm.get('name').invalid && signupFormDir.submitted) || (signupForm.get('name').dirty && signupForm.get('name').invalid)">
                        Name is Required*
                    </div>
                </div>
                <div class="form-group m-2">
                    <label for="email">EMAIL ID</label>

                    <input type="email" class="form-control" required autocomplete="off" formControlName="email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="">
                    <div class="invalidError"
                        *ngIf="(signupForm.get('email').invalid && signupFormDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                        Email is Required*
                    </div>
                </div>
                <div class="form-group m-2">
                    <label for="phone">PHONE NUMBER</label>

                    <input type="number" class="form-control" autocomplete="off" formControlName="phone"
                        placeholder="">
                    <!-- <div class="invalidError"
                        *ngIf="(signupForm.get('phone').invalid && signupFormDir.submitted) || (signupForm.get('phone').dirty && signupForm.get('phone').invalid)">
                        Phone is Required*
                    </div> -->
                </div>
                <!-- <div class="form-group m-2">
                    <label for="gender">GENDER</label><br>
                    
                    <input type="text" class="form-control" required autocomplete="off" formControlName="gender" placeholder="" >  

                    <div class="invalidError" *ngIf="(signupForm.get('gender').invalid && signupFormDir.submitted) || (signupForm.get('gender').dirty && signupForm.get('gender').invalid)">
                        Gender is Required*
                    </div>  
                </div> -->
                <div class="row">

                
                <div class="col-6">
                    <div class="form-group m-2">
                        <label for="age">AGE</label>                
                        <input type="number" class="form-control" required autocomplete="off" formControlName="age" placeholder=""  style="height: 40px;">  
                        <div class="invalidError" *ngIf="(signupForm.get('age').invalid && signupFormDir.submitted) || (signupForm.get('age').dirty && signupForm.get('age').invalid)">
                            Age is Required*
                        </div>  
                    </div>
                    </div>
                    <div class="col-6">

                    
                    <div class="form-group m-2">
                        <label for="gender">GENDER</label><br>
                        
                        <input type="text" class="form-control" required autocomplete="off" formControlName="gender" placeholder=""  style="height: 40px;">  

                        <div class="invalidError" *ngIf="(signupForm.get('gender').invalid && signupFormDir.submitted) || (signupForm.get('gender').dirty && signupForm.get('gender').invalid)">
                            Gender is Required*
                        </div>  
                    </div>
                </div>
            </div>
                
                <div class="form-group m-2">
                    <label for="state">STATE/UT</label>
                    <select name="gender" id="gender" style="height: 40px;width: 100%;" formControlName="state">
                        <option value="Andaman and Nicobar (UT)">Andaman and Nicobar (UT)</option>
                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                        <option value="Assam">Assam</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Chandigarh (UT)">Chandigarh (UT)</option>
                        <option value="Chhattisgarh">Chhattisgarh</option>
                        <option value="Dadra and Nagar Haveli (UT) and Daman and Diu (UT)">Dadra and Nagar Haveli (UT) and Daman and Diu (UT)</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Goa">Goa</option>
                        <option value="Gujarat">Gujarat</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Himachal Pradesh">	Himachal Pradesh</option>
                        <option value="Jammu and Kashmir (UT)">Jammu and Kashmir (UT)</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="Karnataka">Karnataka</option>
                        <option value="Kerala">Kerala</option>
                        <option value="Lakshadweep (UT)">Lakshadweep (UT)</option>
                        <option value="Leh & Ladakh (UT)">Leh & Ladakh (UT)</option>
                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                        <option value="Maharashtra">Maharashtra</option>
                        <option value="Manipur">Manipur</option>
                        <option value="Meghalaya">Meghalaya</option>
                        <option value="Mizoram">Mizoram</option>
                        <option value="Nagaland">Nagaland</option>
                        <option value="Orissa">Orissa</option>
                        <option value="Puducherry (UT)">Puducherry (UT)</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Sikkim">Sikkim</option>
                        <option value="Tamil Nadu">Tamil Nadu</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Tripura">Tripura</option>
                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                        <option value="Uttarakhand">Uttarakhand</option>
                        <option value="West Bengal">West Bengal</option>

                    </select>
                    <div class="invalidError" *ngIf="(signupForm.get('state').invalid && signupFormDir.submitted) || (signupForm.get('state').dirty && signupForm.get('state').invalid)">
                        State is Required*
                    </div>  
                    <!-- <input type="text" class="form-control" required autocomplete="off" formControlName="state"
                        placeholder="">
                    <div class="invalidError"
                        *ngIf="(signupForm.get('state').invalid && signupFormDir.submitted) || (signupForm.get('state').dirty && signupForm.get('state').invalid)">
                        State is Required*
                    </div> -->
                </div>

                <!-- <label>GENDER</label><br>
            <input type="radio" id="male" name="gender" value="male" formControlName="gender">
            <label for="male" class="mr-3">Male</label>
            <input type="radio" id="female" name="gender" value="female" formControlName="gender">
            <label for="female">Female</label><br> -->

                <div id="submitBtn" class="mt-4">
                    <input id="loginbtn" type="submit" value="REGISTER">
                </div>

            </form>
            <div id="already_reg">
                <h6><span style="color:#44a6df">Already registered?</span> &nbsp; <a routerLink="/login" class="h6"
                        title="Login">Click here to login!!</a></h6>
            </div>
            <br>
            <!-- <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div> -->
        </div>
       <!-- <h3 class="going">GOING LIVE IN</h3> -->
        <h3 id="demo"></h3>

    </div>
</section>