// .bg{    
//     background-image: url("../../assets/event/login.jpg");

//     height: 100vh; 
  
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// .container-fluid{
//     position: relative;
//     top: 10%;
//     #page_content{
//         padding: 10px;
//         border-radius: 10px;
//         background: rgba(248, 247, 247, 0.178);
//         margin: 3%;
//         #submitBtn{
//             .btn{
//                 background: rgb(228, 18, 18);
//                 color: white;
//                 border-radius: 24px;
//                 padding: 6px 28px;                
//             }
//         }
//     }
// }
// input{
//     background-color: #ffffff5e;
//     outline: none;
// }
// input:focus{
//     border-color: rgba(239, 120, 104, 0.8);
//     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 120, 104, 0.8);
//     outline: none;
// }


#login_section{   
    position: absolute;
    top: 15%;
    width: 20%;
    transform: translate(10%, -20%);

}
input[type="text"], input[type="email"], input[type="number"], select{
    background-color: #fff;
    margin-top:5px;
    // border-radius: 10px;
    border: 2px solid #44a6df;

    // box-shadow: 1px 1px 1px 1px;
}
#submitBtn{
    // float: left;
    text-align: center;
    #loginbtn{
        // margin: 12px 4px;
        background-color: #44a6df;
        color: white;
        border-radius: 24px;
        font-size: large;
    border: 0;
        padding: 10px 40px;
    }
}
label{
    color: #44a6df;
    font-size: 16px;
}

@media only screen and (max-width: 950px) {
    #login_section{   
        position: absolute;
        top: 15%;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 30%;
        transform: translate(10%, -15%);
    
    }
    .form-group {
        margin-bottom: 0.3rem;
    }
    input[type="text"], input[type="email"]{
        background-color: #fff;
        margin-top: 0px;
        // border-radius: 10px;
        border: 2px solid #44a6df;
    
        // box-shadow: 1px 1px 1px 1px;
    }

    #demo{
        text-align: center;
        color: #44a6df;
        position: absolute;
        top: 58vh;
        font-size: 16px !important;
        left: 54.5% !important;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #44a6df;
        position: absolute;
        top: 56vh;
        // border: 2px solid #44a6df;
        transform: translate(-50%, -50%);
        // right: 0vh;
        width: 35%;
        // right: 6vh !important;
    }

    .going{
        text-align: center;
        color: #44a6df;
        position: absolute;
        top: 56vh;
        font-size: 16px !important;
        // border: 2px solid #44a6df;
        left: 44% !important;
        transform: translate(-50%, -50%);
        font-size: 40px;
        // right: 0vh;
        width: 20%;
    }

  }
  a.disabled {
    pointer-events: none;
    // cursor:  not-allowed !important;
    cursor: not-allowed !important; 
  }

  #already_reg{
    // float: left;
    top: 20px;
    position: relative;
    text-align: center;
  }
 
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
a{
    text-decoration: none;
}
#demo{
    text-align: center;
    color: #44a6df;
    position: absolute;
    top: 56vh;
    // border: 2px solid #44a6df;
    left: 54.5%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    // right: 0vh;
    // width: 23%;
}
.going{
    text-align: center;
    color: #44a6df;
    position: absolute;
    top: 56vh;
    // border: 2px solid #44a6df;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    // right: 0vh;
    width: 20%;
}
