<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="{{bgImg}}" alt="">
        <div *ngFor="let p of pointers" data-bs-toggle="tooltip" data-bs-placement="top" [ngClass]="p.class" [ngStyle]="{'top':p.top+'%','left':p.left+'%'}" (click)="pointerMethod(p,p.url);">
          <div class="pulsating-circle"></div>
        </div>
    </div>
</section>

<div class="modal fade" id="open_game_modal" tabindex="-1" aria-labelledby="open_game_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="ModalPlay">
    <div class="modal-content">      
      <div class="modal-body p-0">
        <div id="modal_popup">
            <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="open_game_modalLabel">Game</h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0">
                    <iframe [src]="src" width="100%" height="615" frameborder="0"></iframe>

                  </div>
                </div>
            </div>
        </div>      
      </div>      
    </div>
  </div>
</div>