<section id="bg_section">
  <div id="content_section">
    <img id="bgimg" src="assets/event/indigenous.jpg" alt="">
    <!-- <a class="one" href="https://www.google.com/" target="_blank">
          <div class="pulsating-circle"></div>
        </a> -->
    <div class="one"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dd12906f112/709_61dd12906f112_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="two"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dd12a2bfe84/709_61dd12a2bfe84_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="three"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dd12bbf2105/709_61dd12bbf2105_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="four"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dd12d11b2db/709_61dd12d11b2db_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="five"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dd12eb1a2fa/709_61dd12eb1a2fa_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
    <div class="six"
      (click)="playGrowBySharingVideo('https://dzwvjnldrccox.cloudfront.net/709_61dd1505cf180/709_61dd1505cf180_master.m3u8');">
      <div class="pulsating-circle"></div>
    </div>
  </div>
</section>

<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true"
  style="z-index: 9999;">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
      <div class="modal-body p-0">
        <div id="modal-video">
          <div id="closePopup" (click)="closeModalVideo()">&times;</div>
          <!-- <video id="video" preload="auto" [src]="videosource" width="100%" controls>
                    </video> -->
          <!-- <video id="video" preload="auto" [src]=videosource width="100%" controls>
            
          </video> -->
          <div id="player_section">
            <div id="player-wrapper" class="player-container"></div>
        </div> 
          
          <!-- <vg-player>
            <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                <vg-play-pause></vg-play-pause>
                <vg-time-display></vg-time-display>
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
                <vg-fullscreen></vg-fullscreen>
            </vg-controls>
            <vg-buffering></vg-buffering>
            <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videosource" autoplay="true"
                vg-responsive="true" type="video/mp4">

            </video>
        </vg-player>  -->
          <!-- <div id="player_container" style="position: relative; overflow: hidden; padding-top: 56.25%;">
                        <iframe [src]=videosource style="position:absolute;top:0;left:0;width:100%;height:100%;"  frameborder="0" allowfullscreen="true" >
                        </iframe></div> -->
        </div>
      </div>
    </div>
  </div>
</div>