<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="assets/event/dreams.jpg" alt="">
        <a class="one" href="https://nyf2022.org/island/index.html" target="_blank">
          <div class="pulsating-circle"></div>
        </a>
    </div>
</section>