<span id="signout">
    <a id="funBtn" class="submitBtn" (click)="exit();" title="Logout" data-bs-toggle="tooltip"  role="button">
        Logout 
    </a>
    </span>

    
    


<div class="livemsg" id="countdown" style="display: none;">

</div>
<span id="goBack" [ngStyle]="{'display': (router.url.includes('auditorium') || router.url.includes('exhibition') || router.url.includes('gamezone')  || router.url.includes('lobby2') || router.url.includes('lobby3') || router.url.includes('inaugural') || router.url.includes('dreams') || router.url.includes('auroville') || router.url.includes('puducherry') || router.url.includes('indegenous'))?'block':'none'}">
    <a id="funBtn" class="submitBtn" (click)="gotoBack()"  data-bs-toggle="tooltip" role="button">
        Back 
    </a>
</span>
<router-outlet></router-outlet>
<app-menu (outputMenu)="readOutputMenu($event)"></app-menu>
<app-briefcase-modal></app-briefcase-modal>
<app-leaderboard-modal></app-leaderboard-modal>
<app-welcome-chat></app-welcome-chat>
<div class="modal fade" id="pdf_modal" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">      
        <div class="modal-body p-0">
          <div id="modal_popup">
              <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
              <div class="modal-header bg-primary text-white">
                  <h5 class="modal-title" id="pdf_modalLabel">Agenda</h5>
              </div>
              <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                      <div >
                          <!-- <div *ngSwitchCase="'feedback'">
                            <iframe _ngcontent-vet-c14="" id="iframe_feedback" frameborder="0" height="550" src="https://forms.gle/bJLEsiJUpLHgx4vn6" width="100%"></iframe>                              
                          </div> -->
                          <div>
                            <embed src="https://d3ep09c8x21fmh.cloudfront.net/azadi/agenda2.pdf" frameborder="0" width="100%" height="540">
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>      
        </div>      
      </div>
    </div>
  </div>