<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="assets/event/2.jpg" alt="">
        <!-- <a class="one" href="https://www.google.com/" target="_blank">
          <div class="pulsating-circle"></div>
        </a> -->
    </div>
</section>
<iframe style="position: absolute;top: 50.5%;left: 50%;transform: translate(-50%,-50%);width: 40%;height: 41.5%;" id="iframe1" src="https://playhls.media.nic.in/webcast/akamai.html?hlsurl=https://nicls2-lh.akamaihd.net/i/mediaweb_1@346188/master.m3u8&amp;image=https://webcast.gov.in/images/nic_logo_full.gif&amp;autostart=false" width="440" height="320" frameborder="0" scrolling="no" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>